<div>
  <app-statistic-chart [statistikData]="stats"></app-statistic-chart>

  <div>
    <table class="table table-responsive table-condensed" style="display: flex; justify-content: center">
      <tr>
        <th style="color: black">{{'statistik.kanton' | translate}}</th>
        <th style="color: black">{{'statistik.voranmeldungen' | translate}}</th>
        <th style="color: black">{{'statistik.anzMitarbeiter' | translate}}</th>
        <th style="color: black">{{'statistik.gekuendigte' | translate}}</th>
      </tr>
      <tr *ngFor="let statistik of stats">
        <td style="color: black">{{'kanton.auswahl.'+statistik.kanton | translate }}</td>
        <td style="color: black">{{ statistik.voranmeldungen }}</td>
        <td style="color: black">{{ statistik.betroffeneAnzMitarbeiter }}</td>
        <td style="color: black">{{ statistik.bestandGekuendigt }}</td>
      </tr>
    </table>
  </div>
  <hr><hr>
  <div *ngFor="let statistik of stats">
    <h2> {{'kanton.auswahl.'+statistik.kanton | translate }} </h2>
    <table class="table table-responsive table-condensed">
      <tr>
        <th style="color: black" *ngFor="let day of statistik.perDay | keyvalue">
          {{ day.key }}
        </th>
      </tr>
      <tr>
        <td *ngFor="let day of statistik.perDay | keyvalue">
         {{ day.value }}
        </td>
      </tr>
    </table>
  </div>
</div>
