<div *ngIf="!voranmeldung">
  <h2>Login</h2>
  <div>
    <mat-form-field>
      <input matInput placeholder="ID" [(ngModel)]="idInput">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="PIN" [(ngModel)]="pinInput">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="open()">Öffnen</button>
  </div>
</div>
<div *ngIf="voranmeldung != null">
  <app-anfrage-progress [readonly]="false" [voranmeldung]="voranmeldung" [costumerView]="true"></app-anfrage-progress>
</div>
