<div *ngIf="!costumer">
  <h2>Login</h2>
  <div>
    <mat-form-field>
      <input matInput placeholder="ID" [(ngModel)]="idInput">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="PIN" [(ngModel)]="pinInput">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="open()">Öffnen</button>
  </div>
</div>
<div *ngIf="costumer != null">
  <app-kurz-arbeit-voranmeldung-list #voranmeldungList [costumer]="costumer"></app-kurz-arbeit-voranmeldung-list>

  <mat-form-field class="w_300px">
    <mat-label>Forlage für neues Formular</mat-label>
    <mat-select class="w_300px"
      [(value)]="voranmeldung">
      <mat-option value=null>Bitte Wählen</mat-option>
      <mat-option *ngFor="let voranmeldung of voranmeldungList.voranmeldungen$ | async" [value]="voranmeldung">
        #{{voranmeldung.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createNewForm()">Eine weitere Anmeldung erstellen</button>
</div>
