<div style="text-align:center">
  <h1>
    {{ 'home.willkommen' | translate }}
  </h1>
</div>
<div *ngIf="!isBehoerde && !isNeuerUser">
  <h2 style="text-align: center">{{ 'home.einstiegAls' | translate }}</h2>
  <div style="display: flex; justify-content: center">
    <div class="clickable startChoose mR_50px" (click)="behoerde()">
      <i class="fa fa-flag icon" ></i>
      <div class="description">{{ 'home.button.behoerde' | translate }}</div>
    </div>
    <div class="clickable startChoose mR_50px" [routerLink]="['/costumer']">
      <i class="fa fa-user icon" ></i>
      <div class="description">{{ 'home.button.bestehenderUser' | translate }}</div>
    </div>
    <div class="clickable startChoose mR_50px" (click)="newUser()">
      <span class="material-icons icon">
        person_add
      </span>
      <div class="description">{{ 'home.button.neuerUser' | translate }}</div>
    </div>
    <div class="clickable startChoose" [routerLink]="['/statistic']">
      <span class="material-icons icon">
        show_chart
      </span>
      <div class="description">{{ 'home.button.statistiken' | translate }}</div>
    </div>
  </div>

  <div *ngIf="showProtoInfo === true" style="display: flex; justify-content: center; margin-top:50px;">
    <div class="startChoose w_60" style="position: relative">
      <i class="fa fa-info icon" ></i>
      <div class="description bold">{{ 'home.prototyp.titel' | translate }}</div>
      <div class="description">{{ 'home.prototyp.kantonText' | translate }}</div>
      <div class="description">{{ 'home.prototyp.validierungText' | translate }}</div>
      <div class="description">{{ 'home.prototyp.browserText' | translate }}</div>
      <div class="description bold">{{ 'home.prototyp.vielSpass' | translate }}</div>
      <div style="position: absolute; top: 10px; right: 10px; color: #3f51b5; cursor: pointer" (click)="showProtoInfo = false"><mat-icon>close</mat-icon></div>
    </div>
  </div>
</div>
<div *ngIf="isNeuerUser || isBehoerde">
  <div *ngIf="!session.kanton">
    <app-kanton-auswahl (kantonSelected)="setSelectedKanton($event)"></app-kanton-auswahl>
  </div>
  <div *ngIf="isBehoerde && session.kanton">
    <app-kurz-arbeit-voranmeldung-list></app-kurz-arbeit-voranmeldung-list>
  </div>
  <div *ngIf="isNeuerUser && session.kanton">
    <h2 style="text-align: center">{{'home.auswahlForm' | translate}}</h2>
    <div style="display: flex; justify-content: center">
      <div class="clickable startChoose mR_50px" (click)="neuesForm(false)">
        <span class="material-icons icon">
          description
        </span>
        <div class="description">{{'home.standard' | translate}}</div>
      </div>
      <div class="clickable startChoose"  (click)="neuesForm(true)">
        <span class="material-icons icon">
          view_list
        </span>
        <div class="description">{{'home.gefuehrtes' | translate}}</div>
      </div>
    </div>
  </div>
</div>
