<div>
  <h2 style="text-align: center">{{ 'kurzarbeitVoranmeldungListe.titel' | translate }}</h2>
  <div style="display: flex; justify-content: right" class="w_98">
    <div class="">
      <span matTooltip="{{ 'kurzarbeitVoranmeldungListe.tooltip.alle' | translate }}" class="clickable filterField allFilter" (click)="resetFilter()"></span>
      <span matTooltip="{{ 'kurzarbeitVoranmeldungListe.tooltip.erledigt' | translate }}" class="clickable filterField done" [class.active]="filterToDone" (click)="filterToDone = !filterToDone; applyFilter()"></span>
      <span matTooltip="{{ 'kurzarbeitVoranmeldungListe.tooltip.etwasZutun' | translate }}" class="clickable filterField toDo" [class.active]="filterToTodo" (click)="filterToTodo = !filterToTodo; applyFilter()"></span>
      <span matTooltip="{{ 'kurzarbeitVoranmeldungListe.tooltip.warten' | translate }}" class="clickable filterField wait" [class.active]="filterToWait" (click)="filterToWait = !filterToWait; applyFilter()"></span>
      <span matTooltip="{{ 'kurzarbeitVoranmeldungListe.tooltip.listAnsicht' | translate }}" (click)="asList = true" [class.active]="asList == true" class="clickable viewFormat"><mat-icon>list</mat-icon></span>
      <span matTooltip="{{ 'kurzarbeitVoranmeldungListe.tooltip.kachelAnsicht' | translate }}" (click)="asList = false" [class.active]="asList != true" class="clickable viewFormat"><mat-icon>view_module</mat-icon></span>

    </div>
  </div>
  <div class="mat-elevation-z8 w_98 margin0Auto tableContainer" >
    <table  mat-table [dataSource]="dataSource" class="w_100 kurzarbeitTable" [class.asList]="asList==true">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> {{ 'kurzarbeitVoranmeldungListe.tabelle.id' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="arbeitgeber">
        <th mat-header-cell *matHeaderCellDef> {{ 'kurzarbeitVoranmeldungListe.tabelle.arbeitgeber' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.arbeitgeber}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="eingangsdatum">
        <th mat-header-cell *matHeaderCellDef> {{ 'kurzarbeitVoranmeldungListe.tabelle.eingangsdatum' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.eingangsdatum | date}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="branche">
        <th mat-header-cell *matHeaderCellDef> {{ 'kurzarbeitVoranmeldungListe.tabelle.branche' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.branche}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="gueltigkeitsBereicht">
        <th mat-header-cell *matHeaderCellDef> {{ 'kurzarbeitVoranmeldungListe.tabelle.gueltigkeitsBereicht' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.gueltigkeitsBereicht}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dauerVon">
        <th mat-header-cell *matHeaderCellDef> {{ 'kurzarbeitVoranmeldungListe.tabelle.dauerVon' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.dauerVon}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dauerBis">
        <th mat-header-cell *matHeaderCellDef> {{ 'kurzarbeitVoranmeldungListe.tabelle.dauerBis' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.dauerBis}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr (click)="open(row)" mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{ 'voranmeldung':(true),'clickable':(true),
        'done' :(isDoneClass(row))  ,
        'waiting':(isWaitingClass(row))}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100, dataSource.data.length]" class="mB_25px"></mat-paginator>
  </div>

</div>


