<div>
  <h2 class="textCenter">Messages</h2>
  <div class="messageContainer">
    <mat-card class="message" [class.erhalten]="erhalten(message)" *ngFor="let message of messages$ | async" >
      <mat-card-header>
        <mat-card-title><span *ngIf="erhalten(message)">Erhalten</span><span *ngIf="!erhalten(message)">Gesendet</span></mat-card-title>
        <mat-card-subtitle>{{message.date | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <div class="mL_15px mR_15px">
        {{message.text}}
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
