<div>
  <div id="page1" class="page" [class.readOnly]="readonly">
      <div class="header">Abeitslosenversicherung</div>
      <div class="centerText">
        <div class="bold">Voranmeldung von Kurzarbeit</div>
        <div>(Ausserordentliches Formular)</div>
        <div>gilt nur für die Voranmeldung von Kurzarbeit</div>
        <div>aufgrund von behördlichen Massnahmen infolge Pandemie Covid-19</div>
        <div class="code"></div>
      </div>
      <div class="flexbox h_115px mT_10px">
        <div>
          <div class="borderBox w_400px">
            <div>Arbeitgeber (Genaue Adresse)</div>
            <textarea *ngIf="!readonly" [(ngModel)]="anfrage$.arbeitgeber" class="h_90px"></textarea>
            <div *ngIf="readonly" class="h_90px">{{anfrage$.arbeitgeber}}</div>
          </div>
        </div>
        <div class="borderBox h_80px">
          <div>Eingangsdatum/Datum des Poststempels</div>
        </div>
      </div>
      <div class="flexbox mT_20px">
        <div>
          <div>
            <span class="inlineBlock label ">BUR-Nr.</span>
            <span class="borderBottom inputNormalWidth inlineBlock"></span>
          </div>
          <div>
            <span class="inlineBlock w_120px"></span>
            <span class="inlineBlock">(wird von Amtsstelle ausgefüllt)</span>
          </div>
          <div>
            <span class="inlineBlock label">Branche</span>
            <input [readonly]="readonly" [(ngModel)]="anfrage$.branche" class="borderBottom inlineBlock inputNormalWidth h_50px"/>
          </div>
          <div class="">
            <span class="inlineBlock label">Sachbearbeiter/in</span>
            <input [readonly]="readonly" [(ngModel)]="anfrage$.sachbearbeiter" class="borderBottom inlineBlock inputNormalWidth h_25px"/>
          </div>
          <div class="">
            <span class="inlineBlock label">Telefon</span>
            <input [readonly]="readonly"  [(ngModel)]="anfrage$.telefon" class="borderBottom inlineBlock inputNormalWidth h_25px"/>
          </div>
        </div>
        <div>
          <div>Kantonale Amtsstelle</div>
          <textarea *ngIf="!readonly" [(ngModel)]="anfrage$.kantonaleAmtsstelle" class="h_100px"></textarea>
          <div *ngIf="readonly" class="h_100px borderBox">
            {{anfrage$.kantonaleAmtsstelle}}
          </div>
        </div>
      </div>
      <div class="">
        <span class="inlineBlock label">Email</span>
        <input [readonly]="readonly" [(ngModel)]="anfrage$.email" class="inlineBlock inputLongWidth h_25px"/>
      </div>
      <div class="mT_20px">
        <span>Die Voranmeldung ist vor Begiss bzw. Weiterführung der Kurzarbeit der kantonalen Amtsstelle einzureichen.</span>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">1</span>
        <span>Kurzarbeit muss eingeführt werden für</span>
      </div>
      <div class="mL_30px mT_15px">
        <div class="flexbox">
          <div class="fb_30 options">
            <label class="labelRadio" *ngIf="!readonly">
              <input [readonly]="readonly" [(ngModel)]="anfrage$.gueltigkeitsBereicht" type="radio" name="art" value="gesamtbetrieb" />
              <span class="img"></span>
              <div class="content w_300px">den Gesamtbetrieb</div>
            </label>
            <span class="labelRadio" *ngIf="readonly">
              <input [readonly]="readonly" [(ngModel)]="anfrage$.gueltigkeitsBereicht" type="radio" name="art" value="gesamtbetrieb" />
              <span class="img"></span>
              <div class="content w_300px">den Gesamtbetrieb</div>
            </span>
          </div>
          <div class="fb_65 options">
            <label  class="labelRadio" *ngIf="!readonly">
              <input [readonly]="readonly" [(ngModel)]="anfrage$.gueltigkeitsBereicht" type="radio" name="art" value="betriebsabteilung" />
              <span class="img"></span>
              <div class="content w_700px">die Betriebsabteilung<input [readonly]="readonly" [(ngModel)]="anfrage$.abteilungsName" class="borderBox mL_10px w_350px h_25px"/></div>
            </label>
            <span class="labelRadio" *ngIf="readonly">
              <input [readonly]="readonly" [(ngModel)]="anfrage$.gueltigkeitsBereicht" type="radio" name="art" value="betriebsabteilung" />
              <span class="img"></span>
              <div class="content w_700px">die Betriebsabteilung<input [readonly]="readonly" [(ngModel)]="anfrage$.abteilungsName" class="borderBox mL_10px w_350px h_25px"/></div>
            </span>
          </div>
        </div>
        <div class="mL_380px mT_2px w_350px mT_min3px">Für jede Betriebsabteilung ist eine seperate Voranmeldung einzureichen.</div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">2</span>
        <span>Grund Betriebsschliessung oder -einschränkung wegen behördlichen Massnahmen infolge Pandemie Covid-19.</span>
      </div>
      <div class="mL_30px mT_15px">
        <div>Bitte kurz ausführen:</div>
        <textarea *ngIf="!readonly" [(ngModel)]="anfrage$.grundSchliessung" class="h_90px borderBox"></textarea>
        <div *ngIf="readonly" class="h_90px borderBox">{{anfrage$.grundSchliessung}}</div>
      </div>
      <div class="mL_645px mT_15px" style="display: flex">
        <div class="borderLeft borderRight borderBottom borderTop w_100px textCenter h_80px">Personal- bestand insgesamt</div>
        <div class="borderRight borderBottom borderTop w_100px textCenter h_80px">davon in gekündigten Arbeitsver- hältnissen</div>
        <div class="borderRight borderBottom borderTop w_100px textCenter h_80px ">davon Arbeitneh- mende auf Abruf</div>
      </div>
      <div class="">
        <span class="inlineBlock w_30px">3</span>
        <div style="display: inline-flex">
          <div class="w_400px">Personalbestand des Geesamtbetriebes bzw. der Betriebsabteilung heute</div>
          <div class="w_215px"></div>
          <input [readonly]="readonly" [(ngModel)]="anfrage$.bestandInsgesamt" class="h_50px borderLeft borderRight borderBottom w_98px textCenter">
          <input [readonly]="readonly" [(ngModel)]="anfrage$.bestandGekuendigt" class="h_50px borderRight borderBottom w_98px textCenter">
          <input [readonly]="readonly" [(ngModel)]="anfrage$.bestandAbruf" class="h_50px borderRight borderBottom w_98px textCenter">
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">4</span>
        <div style="display: inline-flex">
          <div class="w_400px">Von Kurzarbeit betroffene Arbeitnehmende</div>
          <input [readonly]="readonly" [(ngModel)]="anfrage$.betroffeneAnzMitarbeiter" class="h_25px borderBox w_210px">
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">5</span>
        <div style="display: inline-flex">
          <div class="w_400px">Voraussichtliche Dauer der Kurzarbeit</div>
          <div class="borderBox" style="display: inline-flex">
            <div style="background: white;" class="mT_3px mL_3px">von</div>
            <input [readonly]="readonly" [(ngModel)]="anfrage$.dauerVon" class="h_25px w_220px mL_10px">
            <div style="background: white;" class="mT_3px mL_3px">bis</div>
            <input [readonly]="readonly" [(ngModel)]="anfrage$.dauerBis" class="h_25px w_215px mL_10px">
          </div>
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">6</span>
        <div style="display: inline-flex">
          <div class="w_700px">Voraussichtlich prozentualer Arbeitsausfall pro Monat/Abrechnungsperiode</div>
          <div class="borderBox h_27px mL_145px" style="display: inline-flex">
            <input [readonly]="readonly" [(ngModel)]="anfrage$.prozAusfall" class="h_25px w_50px">
            <div style="background: white" class="h_25px w_17px mT_2px mL_3px">%</div>
          </div>
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">7</span>
        <div style="display: inline-flex">
          <div class="w_400px">Bei welcher Arbeitslosenkasse werden sie die Kurzarbeitsentschädigung geltend machen?</div>
          <input [readonly]="readonly" [(ngModel)]="anfrage$.arbeitslosenkasse" class="h_50px w_516px borderBox">
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">8</span>
        <div style="display: inline-flex">
          <div class="w_400px">Bei welcher AHV-Ausgleichskasse sind Sie angeschlossen?</div>
          <div style="position: relative;" class="borderBox h_60px greyBackground">
            <input [readonly]="readonly" [(ngModel)]="anfrage$.ausgleichskasse" class="h_25px w_516px ">
            <span style="background: white; position: absolute; bottom: 1px; left: 1px; padding-left: 5px; padding-top: 2px;" class="h_25px w_200px">Abrechnungsnummer</span>
          </div>
        </div>
      </div>
      <div class="footer mT_200px">KAE-Voranmeldung COCID-19 (03.2020)</div>
  </div>
  <div id="page2" class="page" [class.readOnly]="readonly">
    <div class="header">Abeitslosenversicherung</div>
    <div class="bold mT_100px">Allgemeine Bestimmungen</div>
    <div class="mT_30px">-Bei Fortsetzungsmeldungen sind sämtliche Angaben zu aktualisieren.</div>
    <div>-Der Arbeitgeber ist zu wahrheitsgetreuer Auskunft verpflichtet (Art. 88 AVIG und Art. 28 ATSG).</div>

    <div class="bold mT_30px">Zudem sind beizulegen:</div>
    <div class="mT_30px">-Organigramm des Gesamtbetriebs, bei Betriebsabteilungen inkl. Anzahl Mitarbeiter pro</div>
    <div>Organisations-Einheit</div>

    <div class="bold mT_30px">Bestätigung des Arbeitgebers:</div>
    <div class="mT_30px">Mit meiner Unterschrift bestätige ich die Angaben wahrheitsgetreu gemacht zu haben und dass alle</div>
    <div>von Kurzarbeit betroffenen Mitarbeitenden mit der Einführung von Kurzarbeit einverstanden sind.</div>
    <div>Zudem nehme ich zur Kenntnis, dass ich für die von Kurzarbeit betroffenen Arbeitnehmenden eine</div>
    <div>betriebliche Arbeitszeitkontrolle (z.B. Stempelkarten, Stundenrapporte) führen muss. Diese beinhaltet</div>
    <div>die täglichen geleisteten Arbeitsstunden unkl. allfälliger Mehrstunden und die wirtschaftlich bedingten</div>
    <div>Ausfallstunden sowie sämtliche übrigen Absenzen wie z.B. Ferien-, Krankheits-, Unfall- oder</div>
    <div>Militärdienstabwesenheiten.</div>
    <div class="flexbox mT_60px">
      <div class="fb_35">Ort und Datum</div>
      <div class="fb_60">Firmenstempel und rechtsgültige Unterschrift</div>
    </div>
    <div class="mT_30px">
      <input [readonly]="readonly" [(ngModel)]="anfrage$.ortDatum" class="h_25px w_35">
    </div>
    <div class="flexbox mT_35px">
      <div class="borderBottom fb_35"></div>
      <div class="borderBottom fb_60"></div>
    </div>
    <div class="footer mT_690px">KAE-Voranmeldung COCID-19 (03.2020)</div>
  </div>
</div>
<button *ngIf="!readonly" mat-raised-button color="primary" class="createButton" (click)="sendAndCreatePdf()">Abschicken und PDF für die Unterzeichnung erzeugen</button>

