<app-fragen></app-fragen>
<div *ngIf="!session.costumer" style="width: 295px; text-align: center; margin: 0 auto;">
  <h2>Login (Fixe Codes ID=1, PIN=a)</h2>
  <div>Bitte geben Sie Ihre Angaben ein</div>
  <div>
    <mat-form-field>
      <input matInput placeholder="ID" [(ngModel)]="idInput">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="PIN" [(ngModel)]="pinInput">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="open()">Öffnen</button>
  </div>
</div>
<div *ngIf="session.costumer != null">
  <h2 style="text-align: center">Willkommen zurück {{session.costumer.name}}</h2>

  <h2 style="text-align: center">Bestehende Kurzarbeit-Voranmeldungen</h2>
  <app-kurz-arbeit-voranmeldung-list #voranmeldungList asList="false"></app-kurz-arbeit-voranmeldung-list>

  <mat-form-field class="w_300px">
    <mat-label>Forlage für neues Formular</mat-label>
    <mat-select class="w_300px"
      [(value)]="session.kurzArbeitVoranmeldung">
      <mat-option value=null>Bitte Wählen</mat-option>
      <mat-option *ngFor="let voranmeldung of voranmeldungList.filteredVoranmeldungen$" [value]="voranmeldung">
        #{{voranmeldung.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="createNewForm()">Eine weitere Anmeldung erstellen</button>
</div>
