<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="!isBehoerde && !isNeuerUser">
  <h2 style="text-align: center">Einstieg als</h2>
  <div style="display: flex; justify-content: center" (click)="behoerde()">
    <div class="clickable startChoose mR_50px">
      <i class="fa fa-flag icon" ></i>
      <div class="description">Behörde</div>
    </div>
    <div class="clickable startChoose mR_50px" [routerLink]="['/costumer']">
      <i class="fa fa-user icon" ></i>
      <div class="description">Bestehender User</div>
    </div>
    <div class="clickable startChoose mR_50px" (click)="newUser()">
      <span class="material-icons icon">
        person_add
      </span>
      <div class="description">Neuer User</div>
    </div>
    <div class="clickable startChoose" [routerLink]="['/statistic']">
      <span class="material-icons icon">
        show_chart
      </span>
      <div class="description">Statistiken</div>
    </div>
  </div>
</div>
<div *ngIf="isNeuerUser || isBehoerde">
  <div style="margin: 0 auto; width: 200px;">
    <h2 style="text-align: center">Kanton</h2>
    <div *ngFor="let kanton of kanton$ | async" style="position: relative">
      <button mat-icon-button aria-labelledby="kanton">
        <mat-icon>
          <div>
            <mat-label>{{kanton.name}}</mat-label>
            <div>
              <img src="{{kanton.wappen}}" height=100px/>
            </div>
          </div>
        </mat-icon>
      </button>
    </div>
    <!--<div>
      <button mat-icon-button aria-labelledby="kanton">
        <mat-icon *ngFor="let kanton of kanton$ | async">
          <div>
            <mat-label>{{kanton.name}}</mat-label>
            <div>
              <img src="{{kanton.wappen}}" height=100px/>
            </div>
          </div>
        </mat-icon>
      </button>
    </div>-->
  </div>
  <div *ngIf="isBehoerde">

    <h2 style="text-align: center">Kurzarbeit Voranmeldungen</h2>
    <app-kurz-arbeit-voranmeldung-list [kanton]="selectedKanton"></app-kurz-arbeit-voranmeldung-list>
  </div>
  <div *ngIf="isNeuerUser" style="text-align: center">
    <button [disabled]="!selectedKanton" (click)="newFormular()" mat-raised-button color="primary">Zum Formular</button>
  </div>
</div>
