<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="!isBehoerde && !isNeuerUser">
  <h2 style="text-align: center">Einstieg als</h2>
  <div style="display: flex; justify-content: center" (click)="behoerde()">
    <div class="clickable startChoose mR_50px">
      <i class="fa fa-flag icon" ></i>
      <div class="description">Behörde</div>
    </div>
    <div class="clickable startChoose mR_50px" [routerLink]="['/costumer']">
      <i class="fa fa-user icon" ></i>
      <div class="description">Bestehender User</div>
    </div>
    <div class="clickable startChoose mR_50px" (click)="newUser()">
      <span class="material-icons icon">
        person_add
      </span>
      <div class="description">Neuer User</div>
    </div>
    <div class="clickable startChoose" [routerLink]="['/statistic']">
      <span class="material-icons icon">
        show_chart
      </span>
      <div class="description">Statistiken</div>
    </div>
  </div>

  <div *ngIf="showProtoInfo === true" style="display: flex; justify-content: center; margin-top:50px;">
    <div class="startChoose w_60" style="position: relative">
      <i class="fa fa-info icon" ></i>
      <div class="description bold">Prototyp</div>
      <div class="description">- Am Besten Kanton Zürich auswählen (Daten schon ausgereift)</div>
      <div class="description">- Validierungen sind absichtlich nicht aktiv auf den Formularen.</div>
      <div class="description bold"> Viel Spass</div>
      <div style="position: absolute; top: 10px; right: 10px; color: #3f51b5; cursor: pointer" (click)="showProtoInfo = false"><mat-icon>close</mat-icon></div>
    </div>
  </div>
</div>
<div *ngIf="isNeuerUser || isBehoerde">
  <div *ngIf="!selectedKanton">
    <h2 style="text-align: center">Kanton</h2>
    <div style="display: flex; flex-flow: row wrap; width: 80%; margin: 0 auto; justify-content: center">
      <div *ngFor="let kanton of kanton$ | async" class="clickable" style="margin: 10px" (click)="setSelectedKanton(kanton)">
        <div mat-icon-button aria-labelledby="kanton">
            <div style="text-align: center; border: 1px solid black; border-bottom: none; width: 100px; " class="bold">{{kanton.name}}</div>
            <div>
              <img src="{{kanton.wappen}}" width=100px/>
            </div>
        </div>
      </div>
  </div>
    <!--<div>
      <button mat-icon-button aria-labelledby="kanton">
        <mat-icon *ngFor="let kanton of kanton$ | async">
          <div>
            <mat-label>{{kanton.name}}</mat-label>
            <div>
              <img src="{{kanton.wappen}}" height=100px/>
            </div>
          </div>
        </mat-icon>
      </button>
    </div>-->
  </div>
  <div *ngIf="isBehoerde && selectedKanton">

    <h2 style="text-align: center">Kurzarbeit Voranmeldungen</h2>
    <app-kurz-arbeit-voranmeldung-list [kanton]="selectedKanton"></app-kurz-arbeit-voranmeldung-list>
  </div>
</div>
