<div>
  <div id="page1" class="page" [class.readOnly]="readonly">
      <div class="header">{{'form.arbeitslosenversicherung' | translate}}</div>
      <div class="centerText">
        <div class="bold">{{'form.initText1' | translate}}</div>
        <div>{{'form.initText2' | translate}}</div>
        <div>{{'form.initText3' | translate}}</div>
        <div>{{'form.initText4' | translate}}</div>
        <div class="code"></div>
      </div>
      <div class="flexbox h_115px mT_10px">
        <div>
          <div class="borderBox w_400px">
            <div>{{'form.arbeitgeber' | translate}}</div>
            <textarea *ngIf="!readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.arbeitgeber" class="h_90px w_100"></textarea>
            <div *ngIf="readonly" class="h_90px">{{session.kurzArbeitVoranmeldung.arbeitgeber}}</div>
          </div>
        </div>
        <div class="borderBox h_80px">
          <div>{{'form.eingangDatum' | translate}}</div>
        </div>
      </div>
      <div class="flexbox mT_20px">
        <div>
          <div>
            <span class="inlineBlock label ">{{'form.burNr' | translate}}</span>
            <span class="borderBottom inputNormalWidth inlineBlock"></span>
          </div>
          <div>
            <span class="inlineBlock w_120px"></span>
            <span class="inlineBlock">{{'form.wirdVonAmtAusgefuellt' | translate}}</span>
          </div>
          <div>
            <span class="inlineBlock label">{{'form.branche' | translate}}</span>
            <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.branche" class="borderBottom inlineBlock inputNormalWidth h_50px"/>
          </div>
          <div class="">
            <span class="inlineBlock label">{{'form.sachbearbeiter' | translate}}</span>
            <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.sachbearbeiter" class="borderBottom inlineBlock inputNormalWidth h_25px"/>
          </div>
          <div class="">
            <span class="inlineBlock label">{{'form.telefon' | translate}}</span>
            <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.telefon" class="borderBottom inlineBlock inputNormalWidth h_25px"/>
          </div>
        </div>
        <div>
          <div>{{'form.amtsStelle' | translate}}</div>
          <textarea *ngIf="!readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.kantonaleAmtsstelle" class="h_100px"></textarea>
          <div *ngIf="readonly" class="h_100px borderBox">
            {{session.kurzArbeitVoranmeldung.kantonaleAmtsstelle}}
          </div>
        </div>
      </div>
      <div class="">
        <span class="inlineBlock label">{{'form.email' | translate}}</span>
        <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.email" class="inlineBlock inputLongWidth h_25px"/>
      </div>
      <div class="mT_20px">
        <span>{{'form.hinweisEinreicung' | translate}}</span>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">1</span>
        <span>{{'form.eingefuehrtWeil' | translate}}</span>
      </div>
      <div class="mL_30px mT_15px">
        <div class="flexbox" style="margin-bottom:-10px;">
          <div class="fb_30 options">
            <label class="labelRadio" *ngIf="!readonly">
              <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.gueltigkeitsBereicht" type="radio" name="art" value="gesamtbetrieb" />
              <span class="img"></span>
              <div class="content w_300px">{{'form.gesamtbetrieb' | translate}}</div>
            </label>
            <span class="labelRadio" *ngIf="readonly">
              <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.gueltigkeitsBereicht" type="radio" name="art" value="gesamtbetrieb" />
              <span class="img"></span>
              <div class="content w_300px">{{'form.gesamtbetrieb' | translate}}</div>
            </span>
          </div>
          <div class="fb_65 options">
            <label  class="labelRadio" *ngIf="!readonly">
              <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.gueltigkeitsBereicht" type="radio" name="art" value="betriebsabteilung" />
              <span class="img"></span>
              <div class="content w_700px">{{'form.betriebsabteilung' | translate}}<input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.abteilungsName" class="borderBox mL_10px w_350px h_25px"/></div>
            </label>
            <span class="labelRadio" *ngIf="readonly">
              <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.gueltigkeitsBereicht" type="radio" name="art" value="betriebsabteilung" />
              <span class="img"></span>
              <div class="content w_700px">{{'form.betriebsabteilung' | translate}}<input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.abteilungsName" class="borderBox mL_10px w_350px h_25px"/></div>
            </span>
          </div>
        </div>
        <div class="mL_357px  mT_2px w_350px mT_10px">{{'form.hinweisBetreibsabteilung' | translate}}</div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">2</span>
        <span>{{'form.hinweisGrund' | translate}}</span>
      </div>
      <div class="mL_30px mT_15px">
        <div>{{'form.kurzAusfuehren' | translate}}</div>
        <textarea *ngIf="!readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.grundSchliessung" class="h_90px borderBox"></textarea>
        <div *ngIf="readonly" class="h_90px borderBox">{{session.kurzArbeitVoranmeldung.grundSchliessung}}</div>
      </div>
      <div class="mT_15px" style="display: flex; margin-left: 539px;">
        <div class="borderLeft borderRight borderBottom borderTop w_130px textCenter h_80px">{{'form.personalInsgesamt' | translate}}</div>
        <div class="borderRight borderBottom borderTop w_130px textCenter h_80px">{{'form.personalGekuendigt' | translate}}</div>
        <div class="borderRight borderBottom borderTop w_130px textCenter h_80px mR_10px ">{{'form.personalAbruf' | translate}}</div>
      </div>
      <div class="">
        <span class="inlineBlock w_30px">3</span>
        <div style="display: inline-flex">
          <div class="w_400px">{{'form.personalBestand' | translate}}</div>
          <div class="w_109px"></div>
          <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.bestandInsgesamt" class="h_50px borderLeft borderRight borderBottom w_130px textCenter">
          <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.bestandGekuendigt" class="h_50px borderRight borderBottom w_130px textCenter">
          <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.bestandAbruf" class="h_50px borderRight borderBottom w_130px textCenter mR_10px">
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">4</span>
        <div style="display: inline-flex">
          <div class="w_400px">{{'form.betriffeneArbeitnehmende' | translate}}</div>
          <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.betroffeneAnzMitarbeiter" class="h_25px borderBox w_200px">
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">5</span>
        <div style="display: inline-flex">
          <div class="w_400px">{{'form.voraussichtlicheDauer' | translate}}</div>
          <div class="borderBox" style="display: inline-flex">
            <div style="background: white;" class="mT_3px mL_3px">{{'form.von' | translate}}</div>
            <mat-datepicker #pickerDateVon></mat-datepicker>
            <input [matDatepicker]="pickerDateVon" (focus)="pickerDateVon.open()" [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.dauerVon" class="h_25px w_210px mL_10px">
            <div style="background: white;" class="mT_3px mL_3px">{{'form.bis' | translate}}</div>
            <mat-datepicker #pickerDateBis></mat-datepicker>
            <input [matDatepicker]="pickerDateBis" (focus)="pickerDateBis.open()" [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.dauerBis" class="h_25px w_205px mL_10px">
          </div>
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">6</span>
        <div style="display: inline-flex">
          <div class="w_700px">{{'form.prozentualerAusfall' | translate}}</div>
          <div class="borderBox h_27px mL_124px" style="display: inline-flex">
            <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.prozAusfall" class="h_25px w_50px">
            <div style="background: white" class="h_25px w_17px mL_3px">%</div>
          </div>
        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">7</span>
        <div style="display: inline-flex">
          <div class="w_398px">{{'form.arbeitslosenkasse' | translate}}</div>
          <div style="position: relative;" class="borderBox h_60px greyBackground">
            <select *ngIf="!readonly" id="selectArbeitslosenkasse" style="background: lightgray;" class="h_60px w_500px " [(ngModel)]="session.kurzArbeitVoranmeldung.arbeitslosenkasse">
              <option *ngFor="let arbeitslosenKasse of session.arbeitslosenkasse" [value]="arbeitslosenKasse.kassenNr + ': '+arbeitslosenKasse.name + ', ' + arbeitslosenKasse.adresse">
                {{arbeitslosenKasse.kassenNr}}: {{arbeitslosenKasse.name}}, {{arbeitslosenKasse.adresse}}
              </option>
            </select>
            <div *ngIf="readonly" class="h_60px w_500px greyBackground">{{session.kurzArbeitVoranmeldung.arbeitslosenkasse}}</div>
          </div>

        </div>
      </div>
      <div class="mT_20px">
        <span class="inlineBlock w_30px">8</span>
        <div style="display: inline-flex">
          <div class="w_398px">{{'form.ausgleichskasse' | translate}}</div>
          <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.ausgleichskasse" class="h_50px w_500px borderBox">
        </div>
      </div>
      <div class="footer mT_200px">{{'form.footer' | translate}}</div>
  </div>
  <div id="page2" class="page" [class.readOnly]="readonly">
    <div class="header">{{'form.arbeitslosenversicherung' | translate}}</div>
    <div class="bold mT_100px">{{'form.allgemeineBestimmung' | translate}}</div>
    <div class="mT_30px">{{'form.allgemeineBestimmungText1' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText2' | translate}}</div>

    <div class="bold mT_30px">{{'form.allgemeineBestimmungText3' | translate}}</div>
    <div class="mT_30px">{{'form.allgemeineBestimmungText4' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText5' | translate}}</div>

    <div class="bold mT_30px">{{'form.allgemeineBestimmungText6' | translate}}</div>
    <div class="mT_30px">{{'form.allgemeineBestimmungText8' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText9' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText10' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText11' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText12' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText13' | translate}}</div>
    <div>{{'form.allgemeineBestimmungText14' | translate}}</div>
    <div class="flexbox mT_60px">
      <div class="fb_35">{{'form.ortDatum' | translate}}</div>
      <div class="fb_60">{{'form.unterschrift' | translate}}</div>
    </div>
    <div class="mT_30px">
      <input [readonly]="readonly" [(ngModel)]="session.kurzArbeitVoranmeldung.ortDatum" class="h_25px w_35">
    </div>
    <div class="flexbox mT_35px">
      <div class="borderBottom fb_35"></div>
      <div class="borderBottom fb_60"></div>
    </div>
    <div class="footer mT_690px">{{'form.footer' | translate}}</div>
  </div>
</div>

<button *ngIf="!readonly" mat-raised-button color="primary" class="createButton" (click)="sendAndCreatePdf()">{{'form.send' | translate}}</button>


