<div class="centerText">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>description</mat-icon>
        Allgemein
      </ng-template>
      <div style="margin: 0 auto; width : 400px; height: 80vh;">

        <div>
          <mat-form-field>
            <input class="w_300px" matInput placeholder="Costumer ID" [(ngModel)]="costumer$.id" readonly>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input class="w_300px" matInput placeholder="Costumer PIN" [(ngModel)]="costumer$.pin" readonly>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input class="w_300px" matInput placeholder="Voranmeldungs File" [(ngModel)]="this.voranmeldung$.pdfName" readonly>
          </mat-form-field>
          <input id="voranmeldungFileInput" name="file" type="file" (change)="antragUpload($event.target.files)" style="display: none !important;">
          <button mat-raised-button color="primary" (click)="openUploadVoranmeldung()"> Choose Files </button>
        </div>
        <div>
          <mat-form-field>
            <input class="w_300px" matInput placeholder="Organigramm File" [(ngModel)]="this.voranmeldung$.organigrammName" readonly>
          </mat-form-field>
          <input id="organigrammFileInput" name="file" type="file" (change)="organigramUpload($event.target.files)" style="display: none !important;">
          <button mat-raised-button color="primary" (click)="openUploadOrganigram()"> Choose Files </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>description</mat-icon>
        Formular
      </ng-template>
      <div style="margin: 0 auto; width : 80%; height: 80vh;">
        <iframe *ngIf="voranmeldung$.asPdf" [src]="sanitizerVoranmeldungsPdf" width="100%" height="98%"> </iframe>
        <div *ngIf="!voranmeldung$.asPdf"> Es wurde noch kein Voranmeldungs-Pdf hochgeladen </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>description</mat-icon>
        Organigram
      </ng-template>
      <div style="margin: 0 auto; width : 80%; height: 80vh;">

        <iframe *ngIf="voranmeldung$.organigramm" [src]="sanitizerOrganigramPdf" width="100%" height="98%"> </iframe>
        <div *ngIf="!voranmeldung$.organigramm"> Es wurde noch kein Organigramm hochgeladen </div>
      </div>
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>


</div>
