<div class="centerText mT_20px"
     [class.doneTab1]="voranmeldung$.asPdf && voranmeldung$.organigramm"
     [class.doneTab2]="voranmeldung$.asPdf"
     [class.doneTab3]="voranmeldung$.organigramm"
     [class.doneTab4]="voranmeldung$.asPdf && voranmeldung$.organigramm"
  >
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>description</mat-icon>
        Allgemein
      </ng-template>
      <div style="margin: 100px auto 0 auto; width : 400px; height: 80vh;">
        <div>
          <h2>Costumer Infos</h2>
        </div>
        <div>
          <mat-form-field class="w_500px">
            <input class="w_500px" matInput placeholder="Costumer ID" [(ngModel)]="costumer$.id" readonly>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w_500px">
            <input class="w_500px" matInput placeholder="Costumer PIN" [(ngModel)]="costumer$.pin" readonly>
          </mat-form-field>
        </div>
        <div>
          <h2>Document Upload Area</h2>
        </div>
        <div class="w_700px mB_20px">
          <mat-form-field class="w_500px">
            <input class="w_500px" matInput placeholder="Voranmeldungs File" [(ngModel)]="this.voranmeldung$.pdfName" readonly>
          </mat-form-field>
          <input id="voranmeldungFileInput" name="file" type="file" (change)="antragUpload($event.target.files)" style="display: none !important;">
          <button class="uploadButton" mat-raised-button color="primary" (click)="openUploadVoranmeldung()" [disabled]="readonly"> <mat-icon>attach_file</mat-icon> </button>
        </div>
        <div class="w_700px">
          <mat-form-field class="w_500px">
            <input class="w_500px" matInput placeholder="Organigramm File" [(ngModel)]="this.voranmeldung$.organigrammName" readonly>
          </mat-form-field>
          <input id="organigrammFileInput" name="file" type="file" (change)="organigramUpload($event.target.files)" style="display: none !important;">
          <button class="uploadButton" mat-raised-button color="primary" (click)="openUploadOrganigram()" [disabled]="readonly"> <mat-icon>attach_file</mat-icon> </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>description</mat-icon>
        Formular
      </ng-template>
      <div style="margin: 0 auto; width : 80%; height: 80vh;">
        <iframe *ngIf="voranmeldung$.asPdf" [src]="sanitizerVoranmeldungsPdf" width="100%" height="98%"> </iframe>
        <div class="mT_100px textCenter" *ngIf="!voranmeldung$.asPdf"> Es wurde noch kein Voranmeldungs-Pdf hochgeladen </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>description</mat-icon>
        Organigram
      </ng-template>
      <div style="margin: 0 auto; width : 80%; height: 80vh;">

        <iframe *ngIf="voranmeldung$.organigramm" [src]="sanitizerOrganigramPdf" width="100%" height="98%"> </iframe>
        <div class="mT_100px textCenter" *ngIf="!voranmeldung$.organigramm"> Es wurde noch kein Organigramm hochgeladen </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon  id="lastTabIcon" *ngIf="voranmeldung$.asPdf && voranmeldung$.organigramm">done</mat-icon>
        <mat-icon  id="lastTabIcon" *ngIf="!voranmeldung$.asPdf || !voranmeldung$.organigramm">close</mat-icon>
        Übersicht
      </ng-template>
      <div style="margin: 50px auto 0 auto; width : 60%; height: 80vh;">
        <div class="alert alert-primary" [class.alert-danger]="!voranmeldung$.asPdf || !voranmeldung$.organigramm" [class.alert-success]="voranmeldung$.asPdf && voranmeldung$.organigramm" role="alert">
          <i class="fa" [class.fa-times-circle]="!voranmeldung$.asPdf || !voranmeldung$.organigramm" [class.fa-check-circle]="voranmeldung$.asPdf && voranmeldung$.organigramm"></i> <div class="inlineBlock bold mL_10px"><span *ngIf="!voranmeldung$.asPdf || !voranmeldung$.organigramm">Bitte laden Sie die fehlenden Dokumente hoch</span><span *ngIf="voranmeldung$.asPdf && voranmeldung$.organigramm">Alle Dokumente sind vorhanden, Sie können Ihre Anfrage abschliessen</span></div>
        </div>
        <div class="alert alert-primary" [class.alert-danger]="!voranmeldung$.asPdf" [class.alert-success]="voranmeldung$.asPdf" role="alert">
          <i class="fa" [class.fa-times-circle]="!voranmeldung$.asPdf" [class.fa-check-circle]="voranmeldung$.asPdf"></i> <div class="inlineBlock bold mL_10px">Voranmeldungs-Pdf</div>
        </div>
        <div class="alert alert-primary" [class.alert-danger]="!voranmeldung$.organigramm" [class.alert-success]="voranmeldung$.organigramm" role="alert">
          <i class="fa" [class.fa-times-circle]="!voranmeldung$.organigramm" [class.fa-check-circle]="voranmeldung$.organigramm"></i> <div class="inlineBlock bold mL_10px">Organigramm</div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Messages
      </ng-template>
      <div style="margin: 50px auto 0 auto; width : 400px; height: 80vh;">
        <app-message-view #messageView [costumer]="costumer$" [costumerView]="costumerView"></app-message-view>
      </div>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-raised-button style="border-radius: 10px" color="primary" [disabled]="!voranmeldung$.asPdf || !voranmeldung$.organigramm || readonly" (click)="abschlussDocumentUpload()">
          Abschliessen
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>


</div>
