pdf-viewer {
  display: block;
  height: 100vh;
}

.mat-tab-group{
  height: 100%;
}
.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

::ng-deep .mat-tab-body-wrapper {
  flex: 1 1 100%;
}

.uploadButton {
  border-radius: 50px;
  height: 65px;
}


::ng-deep :not(.doneTab1) .mat-tab-label:nth-child(1),
::ng-deep :not(.doneTab1) .mat-tab-label:nth-child(2),
::ng-deep :not(.doneTab1) .mat-tab-label:nth-child(3),
::ng-deep :not(.doneTab1) .mat-tab-label:nth-child(4){
  background: #f8d7da;
}


::ng-deep .doneTab1 .mat-tab-label:nth-child(1),
::ng-deep .doneTab2 .mat-tab-label:nth-child(2),
::ng-deep .doneTab3 .mat-tab-label:nth-child(3),
::ng-deep .doneTab4 .mat-tab-label:nth-child(4){
  background: #d4edda;

}
