<div>
  <!--<div style="margin: 0 auto; width: 200px;">
    <h2 style="text-align: center">Kanton</h2>
    <mat-form-field>
      <mat-label>Kanton</mat-label>
      <mat-select [(value)]="selectedStatistik">
        <mat-option value=null>Bitte Wählen</mat-option>
        <mat-option *ngFor="let statistik of statistik$ | async" [value]="statistik">
          {{statistik.kanton}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedStatistik" style="text-align: center">
   {{selectedStatistik.kanton}} hat {{selectedStatistik.voranmeldungen}} Voranmeldungen mit {{selectedStatistik.betroffeneAnzMitarbeiter}} betroffenene Mitarbeitern!
   <br>
    Insgesamt musste {{selectedStatistik.bestandGekuendigt}} Mitarbeitern gekündigt werden.
  <br>
    Im Durchschnitt sind pro Antrag {{selectedStatistik.schnittBetroffen}} Mitarbeiter betroffen und {{selectedStatistik.schnittGekuendigt}} wurde gekündigt.
  </div>-->
  <div>
    <table class="table table-responsive table-condensed">
      <tr>
        <th style="color: black">Kanton</th>
        <th style="color: black">Voranmeldungen</th>
        <th style="color: black">Anzahl betroffene Mitarbeiter</th>
        <th style="color: black">Bestand Gekündigte</th>
      </tr>
      <tr *ngFor="let statistik of stats">
        <td style="color: black">{{ statistik.kanton }}</td>
        <td style="color: black">{{ statistik.voranmeldungen }}</td>
        <td style="color: black">{{ statistik.betroffeneAnzMitarbeiter }}</td>
        <td style="color: black">{{ statistik.bestandGekuendigt }}</td>
      </tr>
    </table>
  </div>
  <hr><hr>
  <div *ngFor="let statistik of stats">
    <h2> {{ statistik.kanton }} </h2>
    <table class="table table-responsive table-condensed">
      <tr>
        <th style="color: black" *ngFor="let day of statistik.perDay | keyvalue">
          {{ day.key }}
        </th>
      </tr>
      <tr>
        <td *ngFor="let day of statistik.perDay | keyvalue">
         {{ day.value }}
        </td>
      </tr>
    </table>
  </div>
</div>
